{{chatroom}}

 <form method="post">
                <input id="input-message" type="text" name="" placeholder="Enter your message">
                <button id="send-button" type="submit" >Send</button>
        </form>

        <!-- //CONNECTING MY FRONTEND WITH THE CHANNELS BACNEND. -->
{{ chatroom.slug|json_script:"json-chatroomname" }}
{{ request.user.username|json_script:"json-username"}}
<script>
        const chatRoomName =  JSON.parse(document.getElementById('json-chatroomname').textContent);
        const username = JSON.parse(document.getElementById('json-username').textContent)
        const chatSocket = new WebSocket(
                'ws://' //its the protocol
                +window.location.host //getting host name dynamically
                +'/ws/'
                +chatRoomName
                +'/'
        )
        chatSocket.onmessage = function(e){
                // console.log("This is a message.");
                const data = JSON.parse(e.data)
                if (data.message){
                        console.log("Recieved message to client is", data.message)

                }else{
                        alert('The message was empty.')
                }

        }
        chatSocket.onclose = function(e){
                console.log("Socket Closed!");
        }

        // GETTING THE ACCESS TO THE SUBMIT BUTTON. ON CLICKING THIS FUNCTION IS CALLED.
        document.getElementById('send-button').onclick = function(e){
                // PREVENT THE DEFAUTL BEHAVIOUR OF ONCLICK, WHICH IS TO REFRESH THE PAGE. WHICH WE DON'T WANT
                e.preventDefault()

                const messageInput = document.getElementById('input-message')
                const message = messageInput.value
                console.log(message)
                

                chatSocket.send(JSON.stringify({
                        'message':message,
                        'username':username,
                        'room':chatRoomName,
                }))
                // AFTER MESSAGE IS SEND, INPUT SHOULD BE EMPTY
                messageInput.value = ""
                
        }
</script>